body {
    background-color: #333;
    color: #fff;
    font-family: sans-serif;
}

.box {
    padding: 40px;
}

.box__item {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid black;
    height: 650px;
    background-color: aqua;
}

.box__item-content {
    border: 10px solid black;
    padding: 50px;
    color: #000;
    font-size: 6rem;
}